# Preprocessing Eye-Tracking Data

In [8]:
import pandas as pd
import numpy as np
from pathlib import Path

## Dataframe setup

In [15]:
# paths and files
data_dir = Path('.').resolve().parent / "data"
files = data_dir.glob('**/*.csv')
data_files = sorted(list(files))

# load into one dataframe
df = pd.concat(map(lambda f: pd.read_csv(f, index_col=None, header=0), data_files), ignore_index=True)

In [16]:
df.head()

,TrialNumber,quadrant,speed,speed_px,motion_cycle,ran,order,n_cue,saccade_delay,target_pos_x,target_pos_y,saccade_spos_x,saccade_spos_y,saccade_epos_x,saccade_epos_y,saccade_dur
0,1,2,0.67,15.28,250.0,1.0,0.0,9.0,572.0,1577.9,456.47,1285.5,715.0,1455.5,534.0,443.75
1,2,1,0.33,7.64,500.0,1.0,1.0,6.0,434.0,982.1,525.22,1281.5,723.0,1040.5,550.0,342.78
2,3,2,0.33,7.64,500.0,1.0,2.0,6.0,527.0,1532.07,525.22,1277.5,719.0,1637.5,538.0,181.44
3,4,1,0.67,15.28,250.0,1.0,3.0,5.0,491.0,1027.93,456.47,1277.5,725.0,1299.5,727.0,423.12
4,1,1,0.42,9.55,400.0,1.0,0.0,5.0,500.0,1050.85,456.47,1281.5,720.0,981.5,487.0,161.27